*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
env__
/staticfiles/

#src
#*.sqlite*

#.env
yarn.lock
# Virtualenv
venv/
.env

# Python
__pycache__/
*.pyc

# Django
db.sqlite3
staticfiles/
media/
