<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
      <div class="row">
        
        <div class="col my-1">
          <p class="m-0">
            &copy; {{ now|default:"2025" }} Sistema de Gestão de Visitas e Utentes — UCCI / SCME.
          </p>
        </div>

        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item">
              <a href="#">Regulamento Interno</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Política de Privacidade</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Contactos</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
</footer>
